<h1 class="title">Welcome :)</h1>

<div class="container row">
    <div class="card col-10">
        <div class="card-body">
            <h2 class="card-title">Who am I?</h2>
            <h5 class="card-subtitle mb-2 text-muted">What do I think?</h5>
            <p class="card-text"><i>"Hello Word, I'm Erick, Software Engineer and dedicated to design and develop Full Stack."</i></p>
        </div>
    </div>
    <div class="banner col-1">
        <img src="../../../assets/images/banner-erick.jpg" alt="Banner Erick Ayala">
    </div>
</div>